:root{
    --white: #fff;
    --black: #212121;
    --dark-gray: #333;
    --light-gray: #9b9b9b;;
    --pink: #DBB7C0;
    --pink-hightlights: #e09c8c;
    --pink-light: #f4e4dc;
    --salmon: #e2c7b5;
}

main{
    margin-top: 25rem;
}

.categorys{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 4rem;
    width: 32%;
}

.page-title{
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: underline 1px solid rgba(0, 0, 0, 0.6);
    margin-bottom: -1.5rem;
}

.category{
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

.category-title{
    font-size: 1.6rem;
    font-weight: 500;
    color: black;
}

.option{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}

.option label{
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0.9);
    font-weight: 400;
}

.option input{
    appearance: none;
    -webkit-appearance: none;
    width: 1.3rem;
    height: 1.3rem;
    border: 1px solid black;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.option input:after{
    content: ' \2666';
    display: none;
}

.option input:checked{
    background-color: var(--pink-light);
}

.option input:checked::after{
    display: block;
}

.product-page{
    display: flex;
    gap: 5rem;
}

.products-ul{
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
}

.product{
    height: 30rem;
    width: 23rem;
    list-style: none;
    border-radius: 3px;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 15px -12px rgba(0,0,0,1);
}

.product img{
    padding: 3rem;
    height: 80%;
    width: 90%;
    object-fit: contain;
}

.product-title{
    height: 15%;
    font-size: 1.5rem;
}

.product-price{
    height: 15%;
    font-size: 1.6rem;
    color: #949494;
    font-weight: 400;
}

.dropbtn {
    font-size: 1.4rem;
    padding: 0.7rem 1.2rem;
    background-color: var(--pink-light);
    border: 1px solid rgba(0, 0, 0, 0.6);
    border-radius: 0.3rem;
    cursor: pointer;
}
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.filter {
    margin: 0.5rem 0;
    border: none;
    background-color: transparent;
}

.filter a{
    font-weight: 500;
    font-size: 1.6rem;
    color: rgba(0, 0, 0, 0.7);
}
  
.dropdown-content button {
    color: black;
    font-size: 1.4rem;
    padding: 0.6rem 0;
    text-decoration: none;
}