/* de basics */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --white: #fff;
    --black: #212121;
    --dark-gray: #333;
    --light-gray: #9b9b9b;;
    --pink: #DBB7C0;
    --pink-hightlights: #e09c8c;
    --pink-light: #f4e4dc;
    --salmon: #e2c7b5;
}

html{
    font-size: 65.5%;
    font-family: 'Montserrat', sans-serif;
}

.container{
    width: 70%;
    height: 100%;
    margin: 0 auto;
}

.containercontent{
    width: 70%;
    height: 100%;
    margin: 0 auto;
    padding: 5rem 0;
}

header{
    position: fixed;
    width: 100vw;
    background-color: white;
    z-index: 10;
    top: 0;
}

.header-top{
    height: 4rem;
    background-color: var(--pink-light);
    border-bottom: 1px solid rgba(168,168,168,.2);
}

.header-mid{
    width: 100%;
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-mid img{
    width: 30%;
}

.cart{
    font-size: 2.4rem;
}

.cart-btn{
    display: block;
    display: flex;
    align-items: center;
    gap: 0.8rem;
    font-size: 1.4rem;
    font-style: italic;
    color: black;
    text-decoration: none;
}

.cart-btn:hover{
    text-decoration: underline;
}

.line{
    border-bottom: 1px solid rgba(168,168,168,.2);
}

.header-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.searchbar{
    display: flex;
    align-items: flex-end;
    height: 3.5rem;
}

form input, form button{
    padding: 0.7rem;
    font-size: 1.4rem;
    height: 3.5rem;
}

form button{
    background-color: #212121;
    color: white;
    height: 3.5rem;
    width: 3.5rem;
    border: none;
}

/* NAVIAGTIE MENU HEADER */
.header-nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.header-nav nav{
    display: flex;
    gap: 2rem;
    justify-content: end;
}

.header-nav div{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.header-nav nav a{
    text-decoration: none;
    color: black;

    display: flex;

    font-size: 1.4rem;
    font-weight: 400;

    text-transform: uppercase;
    align-items: center;

    line-height: 5rem;
}

.header-nav nav a:hover{
    text-decoration: underline;
}

.header-nav nav i{
    font-size: 1rem;
    color: var(--light-gray);
}


/* FOOTER */
footer{
    background-color: var(--pink-light);
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 4rem 0 3rem 0;
}

footer > div{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.footer-top{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15rem;
}

.footer-top img{
    width: 20%;
}

.footer-top p{
    font-size: 2rem;
    font-style: italic;
}

.footer-lists{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 8rem;
}

.footer-lists .category{
    list-style: none;
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 2rem;
    letter-spacing: 1.5px;
    border-bottom: 2px solid #bbb;
}

.contact h4{
    font-size: 1.4rem;
    margin: 1rem 0;
}

.socials{
    margin-top: 4rem;
}

.social-links{
    display: flex;
    gap: 1.5rem;
}

.social-links a{
    background-color: white;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.social-links a:hover{
    background-color: black;
}

.social-links a i{
    font-size: 2rem;
    color: var(--pink);
    padding: 1rem;
}


.footer-lists .categoryElement{
    font-size: 1.4rem;
    color: rgba(0,0,0,.8);
    list-style: none;
    margin: 1.2rem 0;
}

.footer-lists .categoryElement:hover{
    text-decoration: underline;
    cursor: pointer;
}

.copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    color: var(--gray);
    font-weight: 400;
    gap: 1rem;
}