/* de basics */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --white: #fff;
    --black: #212121;
    --dark-gray: #333;
    --light-gray: #9b9b9b;;
    --pink: #DBB7C0;
    --pink-hightlights: #e09c8c;
    --pink-light: #f4e4dc;
    --salmon: #e2c7b5;
}

html{
    font-size: 65.5%;
    font-family: 'Montserrat', sans-serif;
}

.container{
    width: 70%;
    height: 100%;
    margin: 0 auto;
}

.containercontent{
    width: 70%;
    height: 100%;
    margin: 0 auto;
    padding: 5rem 0;
}

/* Hero Section */
.heroSection{
    padding: 5rem 0;
    background-color: var(--salmon);
}

.HeroSection-content{
    display: flex;
    align-items: center;
    position: relative;
    gap: 2rem;
}

.HeroSection-content img{
    width: 45%;
    margin: 10rem 0;
}

.reclame{
    height: 100%;
}

/* Ster voor reclame */

.star{
    display: flex;
    align-items: center;
  }
  
.star {
    position: absolute;
    width: 15rem;
    height: 15rem;
    background: #e09c8c;
    z-index: 2;
    
    flex-direction: column;
    justify-content: space-evenly;

    left: 38%;
    top: 17%;

    box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.5);
}
  
.star:before, .star:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #e09c8c;
    
}

.star:before { transform: rotate(60deg); }
.star:after { transform: rotate(30deg); }

.star-text1, .star-text2 {
    color: var(--black);
    font-weight: 500;
    margin: 0;
}
  
.star-text1 {
    font-size: 6rem;
    margin-bottom: -1rem;
}
  
.star-text2 {
    font-size: 3.7rem;
    margin-top: -1rem;
  }

.star-text1, .star-text2  {
    transform: rotate(10deg);
    z-index: 1;
    align-self: center;
  }

/* Blokken met witte text in hero section */

.reclame-text{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 7rem;
    color: black;
    gap: 5rem;
}

.reclame-text > h2, .reclame-text > h3{
    background-color: var(--white);
    text-transform: uppercase;
    padding: 0.5rem 3.5rem;
    box-shadow: 5px 5px 34px 0px rgba(0,0,0,0.3);
}

.reclame-text > h2{
    font-size: 4.2rem;
    font-weight: 500;
    transform: rotate(-5deg);
    margin-left: 4rem;
}

.reclame-text > h3{
    font-size: 5.5rem;
    font-weight: 650;
    transform: rotate(-10deg);
}

/* Slogan van website en call to action button */
.slogan{
    padding: 10rem 0 0 2.8rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 1rem;
}
.slogan h2{
    color: var(--white);
    font-size: 3rem;
    font-weight: 500;
    text-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

.slogan button{
    width: 35%;
}

button.button{
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 1rem 2rem;
    line-height: 1.8rem;

    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    text-transform: uppercase;

    
    color: var(--white);
    background-color: var(--black);
    border: 2px solid var( --black);
    
    transition: all;
    cursor: pointer;
}

button.button:hover{
    border: 2px solid var( --white);
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    transition-property: all;
}

/* Promotie stuk */
.product-description{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.product-description li{
    list-style-position: inside;
    font-size: 1.4rem;
    font-weight: 600;
    margin: 1rem 0;
}

.promotion button{
    width: 50%;
    margin: 2rem 0;
}
.product-big{
    background-color: var(--white);
    padding: 5rem 0;
    display: flex;
}

.product-big img{
    width: 60rem;
}

.product-big-text{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 2rem;
    font: inherit;
}

.product-big-text span{
    padding: 1rem;
    font-size: 2.3rem;
    background-color: #ECECEC;
    border-radius: 2rem;
    width: 18%;
}

.product-big-text h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 6.5rem;
    font-weight: 600;
    color: #333;
}

.product-big-text p{
    font-size: 1.4rem;
    color: var(--light-gray);
}

.slogan a, .product-big-text a{
    text-decoration: none;
}

.products-small{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.small-product{
    list-style: none;
    padding: 1rem;
    width: 30rem;
    height: 40rem;
}

.small-product img{
    width: 100%;
    padding: 3rem;
    height: 80%;
    object-fit: contain;
}

.small-product a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    font-size: 2rem;
    color: var(--black);
    font-weight: 600;

    height: 10%;
}

.small-product a:hover{
    text-decoration: underline;
}

.small-product .price{
    font-size: 1.6rem;
    color: #949494;
    text-align: center;
    margin: 1rem;
    height: 10%;
}

.promotion div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.promotion div button{
    width: 15%;
}

.features{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5rem;
    margin: 2rem 0;
}

.feature{
    height: 30rem;
    width: 40rem;
    list-style: none;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    padding: 2rem;
}

.feature i{
    font-size: 6rem;
    color: var(--pink);
    height: 30%;
}

.feature h3{
    font-size: 2.5rem;
    font-weight: 400;
    height: 10%;
}

.feature p{
    font-size: 1.4rem;
    color: var(--light-gray);
    line-height: 1.7;
    vertical-align: baseline;
    height: 60%;
}

.feature p a{
    color: var(--pink);
    font-weight: 500;
}

.reviews-wrapper{
    display: flex;
    align-items: center;
    height: auto;
    font-size: 2rem;
}

.reviews{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 80%;
    gap: 2rem;
    flex-wrap: wrap;
}

.review{
    width: 30rem;
    min-height: 20rem;
    list-style: none;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    background: white;
    box-shadow: 0 1rem 1rem 0 rgba(0, 0, 0, 0.2),
    inset 0 -1rem 1rem -1rem rgba(0, 0, 0, 0.1);
    position: relative;
    animation-name: fadeIn;
    animation-duration: 0.8s;
    border: 1px solid black;
}

.review div{
    display: flex;
}

.review p{
    width: 65%;
}

.review img{
    height: 100%;
    width: 35%;
}

.review:nth-of-type(4), .review:nth-of-type(5), .review:nth-of-type(6){
    display: none;
}

.quote{
    font-size: 300%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    line-height: 0.8;
}

.stars{
    color: var(--pink-hightlights)
}

.review p{
    font-size: 65%;
    font-style: italic;
    padding-bottom: 2rem;
}

.arrow{
    width: 10%;
    height: 15%;
    color: gray;
    background: transparent;
    font-size: 300%;
    outline: none;
    border: none;
}

.arrow:hover{
    color: black;
}


@keyframes fadeIn{
    from{
        opacity: 0;
        filter: blur(10px);
    }
    to{
        opacity: 1;
        filter: blur(0);
    }
}

@media screen and (max-width: 50rem){
    .arrow{
        display: none;
    }

    .reviews{
        width: 100%;
    }
}